.top {
  height: 80px;
  background-color: #fff;
  color: #000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "josefin Sans", "sans-serif";
  z-index: 999;
}
.topleft {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topLeftItem {
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}
.topcenter {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-icon {
  display: none;
}
.navbarIcons {
  font-size: 1.5rem;
  color: #222;
  padding: 0.4rem;
}
.topImg img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.topListItem {
  list-style: none;
  display: inline;
  font-size: 18px;
  margin: 10px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}
.topright {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: right;
}
.topImg {
  position: relative;
  margin: 35px;
  cursor: pointer;
}
.topSearchIcon {
  position: inherit;
  font-size: 25px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
.menuUser{
  display: none;
}
@media screen and (max-width: 960px) {
  .menuUser{
    display: block;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .NavbarItems {
    position: relative;
  }

  .topList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -150%;
    opacity: 1;
    transition: all 0.5s ease;
    overflow: scroll;
  }

  .topList.active {
    background: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .topListItem {
    text-align: center;
    padding: 1.4rem;
    width: 100%;
    display: table;
    transition: all 0.5s ease;
  }

  .topListItem:hover {
    background-color: #e0e0e0;
    border-radius: 0;
  }

  .navbarIcons {
    font-size: 1.8rem;
    color: #222;
    padding: 0.4rem;
  }
  .topright {
    flex-direction: row;
  }
  .topright{
    display: none;
  }
}
