.settings {
  display: flex;
}
.settingsWrapper {
  flex: 9;
  margin-left: 20px;
}
.settingsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(244, 144, 159);
}
.settingsDeleteAcc {
  color: tomato;
  cursor: pointer;
  font-size: 15px;
}
.settingsForm {
  display: flex;
  flex-direction: column;
}
.settingsPP {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.profilePic {
  height: 60px;
  width: 60px;
  border-radius: 30%;
  padding-right: 10px;
}
.box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 144, 159);
  border-radius: 50%;
}
.userIcon {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
label {
  margin-top: 15px;
  margin-bottom: 15px;
}
input {
  border: none;
  border-bottom: 1px solid #777;
  padding-top: 5px;
}
input:focus {
  outline: none;
}
:placeholder-shown {
  padding-bottom: 5px;
}
.settingsSubmit{
    margin-top: 30px;
    width: 120px;
    height: 30px;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: rgb(9, 139, 132);
    color: white;
    cursor: pointer;
}
